@font-face{
    font-family: Do_Hyeon;
    src: url("../fonts/Do_Hyeon/DoHyeon-Regular.ttf");
}
@font-face{
    font-family: Lobster;
    src: url("../fonts/Lobster/Lobster-Regular.ttf");
}
@font-face{
    font-family: Nerko_One;
    src: url("../fonts/Nerko_One/NerkoOne-Regular.ttf");
}
@font-face{
    font-family: Righteous;
    src: url("../fonts/Righteous/Righteous-Regular.ttf");
}
@font-face{
    font-family: Abel;
    src: url("../fonts/Abel/Abel-Regular.ttf");
}
@font-face{
    font-family: Cairo;
    src: url("../fonts/Cairo/Cairo-Regular.ttf");
}